.input {
  display: none;
}

.check_indicator {
  width: 24px;
  height: 24px;
  background-color: var(--c-white);
  border-radius: 4px;
  display: grid;
  place-content: center;
  border: 1px solid var(--c-border);
}

.check_indicator.is_disabled {
  background-color: var(--c-disabled);
}

.check_indicator.is_checked {
  background-color: var(--c-primary);
  border: none;
}

.check_indicator__icon {
  color: var(--c-white);
}

.check_indicator:not(.is_checked) .check_indicator__icon {
  visibility: hidden;
}